upstream apiserver {
  server $SERVER_HOST;
}

server {
  listen 80;

  proxy_buffer_size          128k;
  proxy_buffers              4 256k;
  proxy_busy_buffers_size    256k;

  location /api/ {
    proxy_pass http://apiserver/;
  }

  location / {
    try_files $uri /index.html;
  }
}